<div class="detail-section">
  <div class="container-fluid">
    <!-- <img src="{{ product.imageUrl }}" class="detail-img"> -->
     <!-- when the component first loads the product details aren't available yet. I added an ngIf statement
      to each parameter we are loading on the page as a check to make sure the product is there before attempting
      to read the parameters.  -->
    <img *ngIf="product" src="{{ product.imageUrl }}" class="detail-img">

    <h3 *ngIf="product">{{ product.name }}</h3>
    <div *ngIf="product" class="price">{{ product.unitPrice | currency:'USD' }}</div>
    <a href="#" class="btn btn-primary">Add to Cart</a>
    <hr>
    <h4>Description</h4>
    <p *ngIf="product">{{ product.description }}</p>
    <a routerLink="/products" class="mt-5">Back to Product List</a>
  </div>
</div>
